*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --fs-200:14px;
  --fs-300:20px;
  --fs-400:22px;
  --fs-500:32px;
  --lh-1:1;
  --lh-1-1:1.1;
  --lh-1-4:1.4;


  --bkg:248 80% 98%;
  --muted:248 15.7% 80%;
  --text:246 76% 4.9%;
  --accent:245 75% 54.5%;
  --accent2:40 98.2% 43.7%
  
}
 


